footer {
    background-color: #93bcde;
}

#footerDireccion {
    margin-left: 20px;
}


.footer nav ul {
	list-style-type: none;
	float: right;
	display: inline;
}

.footer nav ul li {
  margin-right: 10px;
  padding: 0 4px;
  list-style-type: none;
  display: inline;
}


.footer nav ul li a{
    text-decoration: none;
    padding-left: 5px;
    padding-right: 5px;
}

.footer nav ul li a{
    text-decoration: none;
    padding-left: 5px;
    padding-right: 5px;
}

.footer-direccion {
    width: 50%;
    justify-content: flex-start;
}

.footer-nav {
    width: 50%;
    justify-content: flex-end;
}