footer {
    background-color: #93bcde;
}

#footerDireccion {
    padding: 0px;
    margin: 0px;
    width: 30%;
}

.footer ul {
	list-style-type: none;
	float: right;
	display: inline;
	margin: 0px;
}

.footer ul li {
  float: left;
  margin-right: 10px;
  padding: 0 4px;
  list-style-type: none;
  display: inline;
}


.footer ul li a{
    text-decoration: none;
    padding-left: 5px;
    padding-right: 5px;
}

.footer ul li a{
    text-decoration: none;
    padding-left: 5px;
    padding-right: 5px;
}