#image-home {
    height: 200px;
    width: 100%;
    object-fit: cover;
    background-size: cover;
    background-position: center;
    margin-top: -20px;
    z-index: 0;
}

.home-novedades {
    justify-content: center;
}

.home-novedades img {
    width: 20%;
    margin-left: 4%;
}