@import url("https://fonts.googleapis.com/css2?family=Anton&family=Palette+Mosaic&display=swap");
.section-form {
  margin-left: 5%; }

.label-form {
  margin-bottom: 10px;
  width: 20%; }

.input-form {
  margin-bottom: 10px;
  margin-left: 10px;
  width: 30%; }

.section-form form textarea {
  margin-top: 20px; }

#contactanosNombre {
  margin-left: 10px; }

#contactanosApellido {
  margin-left: 7px; }

#contactanosEmail {
  margin-left: 24px; }

#contactanosRecibirPromociones {
  margin-top: 20px; }

#cbox1 {
  margin-top: 20px; }

#contactanoInputReset {
  margin-right: 5%; }

#image-contactanos {
  height: 200px;
  width: 100%;
  object-fit: cover;
  background-size: cover;
  background-position: center;
  margin-top: -20px; }

#image-delivery {
  margin-top: -120px;
  height: 300px;
  width: 100%;
  object-fit: cover;
  background-size: cover;
  background-position: center;
  display: inline-block;
  clip-path: inset(100px 0px 0px 0px);
  z-index: 0; }

#image-eventos {
  margin-top: -20px;
  height: 300px;
  width: 100%;
  object-fit: cover;
  background-size: cover;
  background-position: center;
  display: inline-block;
  clip-path: inset(0px 0px 100px 0px);
  z-index: 0; }

#image-home {
  height: 200px;
  width: 100%;
  object-fit: cover;
  background-size: cover;
  background-position: center;
  margin-top: -20px;
  z-index: 0; }

.home-novedades {
  justify-content: center;
  margin-bottom: 20px; }

.home-novedades div {
  height: 200px; }

.home-novedades div img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  margin-bottom: 10px; }

.imgHomeDiv {
  background-size: cover; }

.imgHomeDiv:hover .middle {
  opacity: 1; }

.imgHomeDiv:hover img {
  opacity: 0.3; }

.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center; }

.text {
  background-color: black;
  color: white;
  font-size: 16px;
  padding: 16px 62px 16px 62px;
  height: 50% !important;
  margin-top: 25%; }

#carrousel_main {
  max-height: 500px !important;
  width: 90%;
  overflow: hidden;
  margin: auto; }

#image-menu {
  height: 200px;
  width: 100%;
  object-fit: cover;
  background-size: cover;
  background-position: center;
  margin-top: -20px;
  z-index: 0; }

.menu-list {
  justify-content: center; }

.column-menu-list {
  justify-content: flex-start;
  width: 40%;
  margin-left: 5%; }

.menu-hr {
  border-top: 1px solid black;
  width: 100%; }

.titulo-menu {
  font-size: 18px;
  font-family: 'Anton', sans-serif;
  margin: 0px; }

.subtitulo-menu {
  font-size: 12px;
  margin: 0px;
  margin-top: -15px; }

.row-precio .titulo-menu {
  width: 80%;
  justify-content: flex-start; }

.row-precio .precio-menu {
  width: 20%;
  font-size: 18px;
  font-family: 'Anton', sans-serif;
  margin: 0px;
  justify-content: flex-end; }

.nosotros-parrafo p {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  text-align: center;
  font-family: 'Poppins',sans-serif;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.6;
  z-index: 0; }

iframe {
  margin-left: 35%; }

#nosotrosImagenSeparacion {
  margin-left: 46%; }

#image-nosotros {
  height: 200px;
  width: 100%;
  object-fit: cover;
  background-size: cover;
  background-position: center;
  margin-top: -20px; }

.logoNosotros {
  height: 10%;
  width: 10%;
  background-repeat: no-repeat;
  border-radius: 50%;
  margin-top: 10px;
  display: inline; }

#sectionForm {
  margin-left: 5%; }

.label-form {
  margin-bottom: 10px;
  width: 20%; }

.input-form {
  margin-bottom: 10px;
  margin-left: 10px;
  width: 30%; }

textarea {
  margin-top: 20px; }

#inputLimpiar {
  margin-right: 5%; }

#reclamosNombre {
  margin-left: 10px; }

#reclamosApellido {
  margin-left: 7px; }

#reclamosEmail {
  margin-left: 24px; }

#image-reclamos {
  height: 200px;
  width: 100%;
  object-fit: cover;
  background-size: cover;
  background-position: center;
  margin-top: -20px;
  z-index: 0; }

footer {
  background-image: linear-gradient(to right, #F1F2B5, #135058);
  padding: 10px 15px 0px 15px; }

.footer__direccion {
  width: 50%;
  justify-content: flex-start;
  align-content: center;
  font-size: 15px; }

.footer__direccion--margin {
  margin: 10px 0px 0px 20px; }

.footer__nav {
  width: 50%;
  justify-content: flex-end;
  align-content: center; }
  .footer__nav ul {
    list-style-type: none;
    float: right;
    display: inline;
    margin: 0px 20px 10px 20px;
    padding: 4px 4px 4px 4px;
    background-color: #bed6eb;
    border-radius: 5px; }
    .footer__nav ul li {
      margin-right: 10px;
      padding: 0 4px;
      list-style-type: none;
      display: inline; }
      .footer__nav ul li a {
        text-decoration: none;
        padding-left: 5px;
        padding-right: 5px; }
  .footer__nav ul :hover {
    transition: 1s;
    font-size: 16px;
    background-color: #82baea; }

.header__menu {
  height: 155px;
  padding: 15px 15px 0px 15px;
  background-image: linear-gradient(#F1F2B5, #135058); }
  .header__menu #social {
    justify-content: right; }
  .header__menu #numeroCel {
    font-family: "FontAwesome", sans-serif;
    font-size: 20px;
    font-weight: bold; }
  .header__menu #deliveryButton {
    width: 60%;
    font-family: "FontAwesome", sans-serif;
    border-radius: 10px;
    background: radial-gradient(#abbaab, #ffffff); }

.logo__div {
  z-index: 1000; }

.logo__img {
  height: 180px;
  width: 180px;
  background-repeat: no-repeat;
  border-radius: 50%;
  z-index: 1000;
  border: solid 2px; }

footer {
  grid-area: footer; }

.menu {
  justify-self: center; }

.menu__nav li {
  margin-right: 15px;
  padding: 4px 4px 4px 4px;
  display: inline;
  position: relative;
  width: 100%;
  border-radius: 5px; }

.menu__nav ul {
  list-style-type: none;
  font-size: 20px;
  background-color: #bed6eb; }
  .menu__nav ul :hover {
    transition: 1s;
    background-color: #82baea; }
  .menu__nav ul ul {
    position: absolute;
    display: none;
    width: 200px;
    padding-left: 10px;
    margin-left: 25px;
    background-color: #bed6eb;
    border-radius: 5px;
    z-index: 1000; }
    .menu__nav ul ul li {
      display: block;
      width: 100%;
      font-size: 14px; }
  .menu__nav ul li:hover ul {
    display: block; }

body {
  background-color: #f4f8fb; }

.shopping-icon {
  margin-left: 0px; }

.facebook-icon {
  margin-left: 10px; }

.instagram-icon {
  margin-left: 10px; }

.whatsapp-icon {
  margin-left: 10px; }

.titulo1 {
  color: #db9423;
  text-transform: uppercase;
  word-spacing: 5px;
  font-family: 'Anton', sans-serif;
  letter-spacing: 3px;
  margin-bottom: 20px; }

.mayus {
  text-transform: uppercase; }

.flex-row {
  display: flex;
  flex-wrap: wrap; }

.flex-column {
  display: flex;
  flex-flow: column wrap; }

a {
  text-decoration: none;
  color: black; }

.grilla-template-page {
  display: grid;
  grid-template-areas: "header" "banner" "content" "footer";
  grid-template-rows: 155px auto auto auto 40px;
  grid-template-columns: 100%;
  grid-row-gap: 10px;
  grid-column-gap: 10px;
  height: 100vh;
  margin: 0; }

section#content {
  grid-area: content; }

section#banner {
  grid-area: banner; }

nav {
  grid-area: nav; }

header {
  grid-area: header; }

footer {
  grid-area: footer; }
