@import url('https://fonts.googleapis.com/css2?family=Anton&family=Palette+Mosaic&display=swap');

.menu {
    display: block;
    padding-left: 35%;
    padding-top: 30px;
    background-color: #deeaf5;
}

.menu ul {
	list-style-type: none;
	display: inline;
}

.menu li {
  background-color: #bed6eb;
  float: left;
  margin-right: 15px;
  padding: 0 4px;
  font-size: 20px;
}

.menu button {
  background-color: #bed6eb;
}

.menu button h2{
  background-color: #bed6eb;
}

.logo {
	height: 10%;
	width: 10%;
    background-repeat: no-repeat;
    border-radius: 50%;
    float: left;
    margin-top: -50px;
    margin-left: 5px;
    display: inline;
    position: relative;
    z-index: 1000;
    border: solid 2px;
}



.bloque_horizontal div {
	margin-left: 20px;
	display: inline;
}

.button-medium {
	padding-top: 3px;
    padding-right: 3px;
    padding-bottom: 3px;
    padding-left: 3px;
    margin-left: 30%;
}

@font-face {
  font-family: "FontAwesome";
  src: url("fontawesome-webfont.woff");
}

p {
  font-family: "FontAwesome", sans-serif;
  font-size: 200%;
}

body {
    background-color: #f4f8fb
}

.first_section {
    background-color: #deeaf5;
    height: 130px;
}

.shopping-icon {
    margin-left: 0%
}

.facebook-icon {
    margin-left: 10px;
}

.instagram-icon {
    margin-left: 10px;
}


.div-pedidos-header button {
    background-color: #e9f1f8;
}

.div-pedidos-header h2 {
    padding: 0px;
    margin: 0px;
    background-color: #e9f1f8;
}

.div-pedidos-header a {
    float: right;
    font-size: 21px;
    margin-right: 10px;
}

.whatsapp-icon{
    margin-left: 10px;
}

.titulo1 {
    color: #db9423;
    text-transform: uppercase;
    word-spacing: 5px;
    font-family: 'Anton', sans-serif;
    letter-spacing: 3px;
}

.mayus {
    text-transform: uppercase;
}

.iconLinks {
    float: right;
    margin-right: 10px;
}
