@import url('https://fonts.googleapis.com/css2?family=Anton&family=Palette+Mosaic&display=swap');

.menu {
    margin-left: 30%;
    margin-top: 15px;
    width: 30%;
}

.menu nav ul {
	list-style-type: none;
	font-size: 20px;
	margin-top: 5px;
}

.menu nav li {
    background-color: #bed6eb;
    margin-right: 15px;
    padding: 4px 4px 4px 4px;
    display: inline;
    position: relative;
    width: 100%;
    border-radius: 5px;
}

.menu nav ul ul {
	position: absolute;
	display: none;
	width: 200px;
	padding-top:5px;
	padding-left: 10px;
    margin-left: 25px;
}

.menu nav ul ul li {
	display: block;
	width: 100%;
	font-size: 14px;
}

.menu nav ul li:hover ul {
	display: block;
}

.menu nav button {
  background-color: #bed6eb;
}

.menu nav button h2{
  background-color: #bed6eb;
}

.logo {
    height: 145px;
    width: 145px;
    background-repeat: no-repeat;
    border-radius: 50%;
    z-index: 1000;
    border: solid 2px;
}



.bloque_horizontal div {
	margin-left: 20px;
	display: inline;
}

.button-medium {
    margin-left: 10%;
    margin-top: 5px;
    width: 80%;
    border-radius: 10px;
}

@font-face {
  font-family: "FontAwesome";
  src: url("fontawesome-webfont.woff");
}

p {
  font-family: "FontAwesome", sans-serif;
  font-size: 200%;
}

body {
    background-color: #f4f8fb
}

.first_section {
    background-color: #deeaf5;
    height: 130px;
}

.shopping-icon {
    margin-left: 0%
}

.facebook-icon {
    margin-left: 10px;
}

.instagram-icon {
    margin-left: 10px;
}


.div-pedidos-header button {
    background-color: #e9f1f8;
}

.div-pedidos-header h2 {
    padding: 0px;
    margin: 0px;
    background-color: #e9f1f8;
}

.div-pedidos-header a {
    float: right;
    font-size: 21px;
    margin-right: 10px;
}

.whatsapp-icon{
    margin-left: 10px;
}

.titulo1 {
    color: #db9423;
    text-transform: uppercase;
    word-spacing: 5px;
    font-family: 'Anton', sans-serif;
    letter-spacing: 3px;
}

.mayus {
    text-transform: uppercase;
}

.iconLinks {
    margin-left: 20%;
    margin-top: 15px;
    justify-content: flex-start;
}

.iconLinks .flex-row {
    justify-content: flex-end;
}

.flex-row {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.flex-column {
    display: flex;
    flex-flow: column wrap;
}

.menu-div {
    justify-content: flex-start;
    height: 155px;
    background-color: #deeaf5;
}

.number-div {
    margin-top: 15px;
}

a {
    text-decoration: none;
    color: black;
}