.nosotros-parrafo p {
	display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    text-align: center;
	font-family: 'Poppins',sans-serif;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.6;    
}

iframe {
    margin-left: 35%;
}

#nosotrosImagenSeparacion {
    margin-left: 46%;
}

#image-nosotros {
    height: 200px;
    width: 100%;
    object-fit: cover;
    background-size: cover;
    background-position: center;
    margin-top: -20px;
}

.logoNosotros {
	height: 10%;
	width: 10%;
    background-repeat: no-repeat;
    border-radius: 50%;
    margin-top: 10px;
    display: inline;
}