@import url('https://fonts.googleapis.com/css2?family=Anton&family=Palette+Mosaic&display=swap');

body {
    background-color: #f4f8fb
}

.shopping-icon {
    margin-left: 0px;
}

.facebook-icon {
    margin-left: 10px;
}

.instagram-icon {
    margin-left: 10px;
}

.whatsapp-icon {
    margin-left: 10px;
}


.titulo1 {
    color: #db9423;
    text-transform: uppercase;
    word-spacing: 5px;
    font-family: 'Anton', sans-serif;
    letter-spacing: 3px;
    margin-bottom: 20px;
}

.mayus {
    text-transform: uppercase;
}

.flex-row {
    display: flex;
    flex-wrap: wrap;
}

.flex-column {
    display: flex;
    flex-flow: column wrap;
}

a {
    text-decoration: none;
    color: black;
}

.grilla-template-page {
   display: grid;
   grid-template-areas:
     "header"
     "banner"
     "content"
     "footer";
   grid-template-rows: 155px auto auto auto 40px;
   grid-template-columns: 100%;
   grid-row-gap: 10px;
   grid-column-gap: 10px;
   height: 100vh;
   margin: 0;
}

section#content {
   grid-area: content;
}
section#banner {
   grid-area: banner;
}

nav {
   grid-area: nav;
}

header {
   grid-area: header;
}

footer {
   grid-area: footer;
}



