@import url('https://fonts.googleapis.com/css2?family=Anton&family=Palette+Mosaic&display=swap');


.menu nav ul {
	list-style-type: none;
	font-size: 20px;
	background-color: #bed6eb;
}

.menu nav ul :hover {
  transition: 1s;
  background-color: #82baea;
}


.menu {
    justify-self: center;
}

.menu nav li {
    margin-right: 15px;
    padding: 4px 4px 4px 4px;
    display: inline;
    position: relative;
    width: 100%;
    border-radius: 5px;
}

.menu nav ul ul {
	position: absolute;
	display: none;
	width: 200px;
	padding-left: 10px;
    margin-left: 25px;
    background-color: #bed6eb;
    border-radius: 5px;
    z-index: 1000;
}

.menu nav ul ul li {
	display: block;
	width: 100%;
	font-size: 14px;
}

.menu nav ul li:hover ul {
	display: block;
}

.menu nav button {
  background-color: #bed6eb;
}

.logo {
    height: 180px;
    width: 180px;
    background-repeat: no-repeat;
    border-radius: 50%;
    z-index: 1000;
    border: solid 2px;
}

@font-face {
  font-family: "FontAwesome";
  src: url("fontawesome-webfont.woff");
}

p {
  font-family: "FontAwesome", sans-serif;
  font-size: 200%;
}

body {
    background-color: #f4f8fb
}

.shopping-icon {
    margin-left: 0px;
}

.facebook-icon {
    margin-left: 10px;
}

.instagram-icon {
    margin-left: 10px;
}

.whatsapp-icon {
    margin-left: 10px;
}


.titulo1 {
    color: #db9423;
    text-transform: uppercase;
    word-spacing: 5px;
    font-family: 'Anton', sans-serif;
    letter-spacing: 3px;
    margin-bottom: 20px;
}

.mayus {
    text-transform: uppercase;
}

.flex-row {
    display: flex;
    flex-wrap: wrap;
}

.flex-column {
    display: flex;
    flex-flow: column wrap;
}

a {
    text-decoration: none;
    color: black;
}

.grilla-template-page {
   display: grid;
   grid-template-areas:
     "header"
     "banner"
     "content"
     "footer";
   grid-template-rows: 155px auto auto auto 40px;
   grid-template-columns: 100%;
   grid-row-gap: 10px;
   grid-column-gap: 10px;
   height: 100vh;
   margin: 0;
}

header {
   grid-area: header;
}
footer {
   grid-area: footer;
}
section#content {
   grid-area: content;
}
section#banner {
   grid-area: banner;
}

nav {
   grid-area: nav;
}

.header-menu {
   height: 155px;
   padding: 15px 15px 0px 15px;
   background-image: linear-gradient(#F1F2B5, #135058);
}

.header-menu #social {
    justify-content: right;
}

.header-menu #numeroCel {
    font-family: "FontAwesome", sans-serif;
    font-size: 20px;
    font-weight: bold;
}

.header-menu #deliveryButton {
    width: 60%;
    font-family: "FontAwesome", sans-serif;
    border-radius: 10px;
    background: radial-gradient(#abbaab, #ffffff);

}

.logo-div{
    z-index: 1000;
}